<%= form_for(v1_diff) do |f| %>
  <% if v1_diff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(v1_diff.errors.count, "error") %> prohibited this v1_diff from being saved:</h2>

      <ul>
      <% v1_diff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :left %>
    <%= f.text_field :left %>
  </div>

  <div class="field">
    <%= f.label :right %>
    <%= f.text_field :right %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
