<p id="notice"><%= notice %></p>

<h1>V1 Diffs</h1>

<table>
  <thead>
    <tr>
      <th>Left</th>
      <th>Right</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @v1_diffs.each do |v1_diff| %>
      <tr>
        <td><%= v1_diff.left %></td>
        <td><%= v1_diff.right %></td>
        <td><%= link_to 'Show', v1_diff %></td>
        <td><%= link_to 'Edit', edit_v1_diff_path(v1_diff) %></td>
        <td><%= link_to 'Destroy', v1_diff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New V1 Diff', new_v1_diff_path %>
