<p id="notice"><%= notice %></p>

<p>
  <strong>Left:</strong>
  <%= @v1_diff.left %>
</p>

<p>
  <strong>Right:</strong>
  <%= @v1_diff.right %>
</p>

<%= link_to 'Edit', edit_v1_diff_path(@v1_diff) %> |
<%= link_to 'Back', v1_diffs_path %>
